@import url('https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp');

/*
* Basic Colors
*/

// $white: #ffffff;
// $white-gray: #f7f7f7;
// $lightest-gray: #E6E6E6;
// $lighter-gray: #E0E0E0;
// $light-gray: #B3B3B3;
// $gray: #999999;
// $dark-gray: #808080;
// $darker-gray: #666666;
// $darkest-gray: #444444;
// $division-gray: #262626;
// $background-gray: #1A1A1A;

// $lighter-green: #2fffb3;
// $light-green: #10E697;
// $green: #0ECF88;
// $dark-green: #0DBA7A;
// $darker-green: #0B9C66;
// $darkest-green: #08784E;

// $light-red: #FF6666;
// $red: #d42121;

// Primary Colors

$normal-light: #999999;
$normal-hover-light: #B3B3B3;
$normal-clicked-light: #808080;
$normal-disabled-light: #E0E0E0;
$normal-disabled-text-light: #F2F2F2;

$normal-dark: #666666;
$normal-hover-dark: #828282;
$normal-clicked-dark: #454545;
$normal-disabled-dark: #242424;
$normal-border-dark: #B9B9B9;
$normal-border-disabled-dark: #7C7C7C;
$normal-disabled-text-dark: #919191;

$primary-light: #00b3ce;
$primary-hover-light: #05BEDB;
$primary-clicked-light: #0595AB;

$primary-dark: #0491a7;
$primary-hover-dark: #01b5d1;
$primary-clicked-dark: #02879C;
$primary-border-dark: #03D0F0;

$background-light: rgb(241, 241, 241);
$background-dark: #1A1A1A;
$nav-light: #ebebeb;
$nav-dark: #262626;

* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  transition: background-color .4s;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  margin: 0;
  height: 100%;
}

body {
  color: #1b1b1b
}

body.dark {
  background-color: $background-dark;
  color: white;
}

main {
  transition-duration: .4s;
  transition-property: color;
}

.site-nav {
  background-color: $nav-light;
  border-bottom: .1em solid #b0b0b0;
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 4.2em;
  align-items: center;
  gap: .8em;

  & .icon {
    color: #3b3b3b;
  }

  &-link {
    border-bottom: .1em solid #b0b0b0;
  }

  .dark & {
    background-color: $nav-dark;

    & .icon {
      color: white;
    }
  }
}

.toggle-user-nav-btn {
  display: flex;
  background-color: $nav-light;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 4em;

  &:hover {
    background-color: #f9f9f9;
  }

  &:active {
    background-color: #8d8d8d;
  }  

  &-active {
    background-color: #aaaaaa;

    &:hover {
      background-color: #c6c6c6;
    }

    &:active {
      background-color: #8d8d8d;
    }  
  }

  .dark & {
    background-color: $nav-dark;

    &:hover {
      background-color: #444444;
    }
  
    &-active {
      background-color: #444444;
  
      &:hover {
        background-color: #5c5c5c;
      }
    }
  }
}

.flex-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.site-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.main-column {
  flex-grow: 1;
  height: 92vh;
  background-color: $background-light;

  .dark & {
    background-color: $background-dark;
  }
}

.user-nav {
  display: flex;
  background-color: #858585;
  color: white;
  text-align: left;
  min-height: 30em;
  max-width: 14em;
  flex-grow: 1;
  flex-shrink: 100;

  &-link, &-btn {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Verdana';
    font-weight: bolder;
    line-height: 2em;
    transition-duration: unset;
  }
  
  &-link:hover, &-btn:hover, &-link-selected {
    background-color: $primary-hover-light;
    text-decoration: none;
  }
  
  .dark & {
    background-color: #333333;

    &-link, &-btn {
      display: flex;
      flex-wrap: wrap;
      font-family: 'Verdana';
      font-weight: bolder;
      line-height: 2em;
    }
    
    &-link:hover, &-btn:hover, &-link-selected {
      background-color: $primary-dark;
      text-decoration: none;
    }
  }
}

a {
  color: unset;
  text-decoration: unset;
}

a:hover {
  text-decoration: underline;
}

.logo {
  color: $primary-hover-light;
  font-size: 2em;
  font-family: 'Avenir Next';
  font-weight: 700;
  padding-right: .2em;

  &:hover {
    color: #00cbea;
    text-decoration: none;
  }

  .dark & {
    color: $primary-hover-dark;

    &:hover {
      color: #00cbea;
      text-decoration: none;
    }
  }
}

a.inline {
  text-decoration: none;
}

a.inline:hover {
  text-decoration: underline;
}

input {
  display: block;
  border-radius: .2em;
  font-size: 16px;
  border: 1px solid #919191;
  color: black;
  padding: .5em .3em;
  width: 200px;
}

.dark input {
  background-color: #1A1A1A;
  color: white;
}

.flex-wrapped {
  display: flex;
  flex-wrap: wrap;
}

// nav {
//   // display: flex;
//   // flex-wrap: wrap;
//   // align-items: center;
//   // height: 3.5em;
//   // margin-bottom: .4em;
//   // background-color: #003265;
// }

.row-break {
  flex-basis: 100%;
}

.row-break-no-mobile {
  flex-basis: 100%;
  height: 14em;
}

/*
 * =============================
 * --------- BUTTON ------------
 * =============================
 */

 // Reset all the default styling
 button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/*
 * =============================
 * --------- BUTTON ------------
 * =============================
 */

// Basic Button

.loader {
  display: inline-block;
  border: .2em solid red;
  border-top: .2em solid purple;
  border-radius: 50%;
  width: 1.2em;
  height: 1.2em;
  animation: spin 1s linear infinite;
  transition: border-color .2s;
}

.dark .loader {
  border: .2em solid red;
  border-top: .2em solid white;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.icon {
  line-height: unset;
  font-size: 1.3em;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: .1em solid transparent;

  padding: 0 1.5em;
  height: 2.25em;
  max-height: 2.25em;
  border-radius: 8px;

  font-weight: bold;
  color: #ffffff;
  text-decoration: none;

  background-color: $normal-light;

  // .icon {
	// 	font-size: 1.25em;
	// }

  .loader {
    border: .2em solid red;
    border-top: .2em solid purple;
  }

  &:hover {
    background-color: $normal-hover-light;
  }
  
  &:active {
    transition-duration: unset;
    background-color: $normal-clicked-light;
  }  

  &-icon {
    height: 2.25rem;
    max-height: 2.25rem;
    padding: 0 .5em;
    font-size: 1.25em;
  }

  &-primary {
    background-color: $primary-light;

    .loader {
      border: .2em solid red;
      border-top: .2em solid purple;
    }
  
    &:hover {
      background-color: $primary-hover-light;
    }
    
    &:active {
      background-color: $primary-clicked-light;
    }
  }

  &:disabled,&[disabled] {
    background-color: $normal-disabled-light;
    color: $normal-disabled-text-light;
    cursor: not-allowed;

    &:hover {
      background-color: $normal-disabled-light;
    }

    .loader {
      border: .2em solid red;
      border-top: .2em solid purple;
    }
  }

  .dark & {
    background-color: $normal-dark;
    border: .1em solid $normal-border-dark;

    .loader {
      border: .2em solid red;
      border-top: .2em solid purple;
    }

    &:hover {
      background-color: $normal-hover-dark;
    }

    &:active {
      background-color: $normal-clicked-dark;
    }

    &-primary {
      background-color: $primary-dark;
      border: .1em solid $primary-border-dark;

      &:hover {
        background-color: $primary-hover-dark;
      }
      
      &:active {
        background-color: $primary-clicked-dark;
      }
    }

    &:disabled,&[disabled] {
      background-color: $normal-disabled-dark;
      color: $normal-disabled-text-dark;
      border: .1em solid $normal-border-disabled-dark;

      &:hover {
        background-color: $normal-disabled-dark;
      }

      .loader {
        border: .2em solid red;
        border-top: .2em solid purple;
      }
    }
  }
}

/*
 * =============================
 * --------- Headers -------
 * =============================
 */

// .center-header {
//   font-family: Avenir;
//   font-weight: 100;
//   font-size: 4em;
//   line-height: 1.3em;
//   text-align: center;
// }

// .center-header2 {
//   font-family: Avenir;
//   font-weight: 100;
//   font-size: 2em;
//   line-height: 1em;
//   color: $dark-gray;
// }


 /*
 * =============================
 * --------- FORM BOX ----------
 * =============================
 */

.form-box {
  display: flex;
  flex-wrap: wrap;

  width: 50%;
  margin: 0 auto;
  padding: 2em 5em;
  border-radius: 12px;
  background-color: #292929;
  column-gap: .8em;
  border: 1.5px solid #666666;

  & h1 {
    width: 100%; 
    text-align: center;
    }

  & .textBox {
    // width: 100%; 
    text-align: center;
      flex-grow: 1;
    // margin: .8em 0;
  }

  & .button {
    flex-grow: 1;
  }

  .dark & {
    background-color: #292929;
    border: 1.5px solid #666666;
  }
}